<h1>歡迎使用優惠卷兌換功能</h1>

<div>
  <%= link_to '註冊', new_user_registration_path %>
  <%= link_to '登入', new_user_session_path %>
  <%= link_to '登出', destroy_user_session_path, method: 'DELETE' %>
</div>

<div>
  <%= link_to '兌換卷申請', coupon_path %>
</div>